In [53]:
# dependecies and set up
import pandas as pd

file = "Resources/world-happiness-report.csv"
df = pd.read_csv(file)
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [54]:
df.shape

(1949, 11)

In [55]:
df.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [56]:
type(df)

pandas.core.frame.DataFrame

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1949 non-null   object
 1   year                              1949 non-null   int64
 2   Life Ladder                       1949 non-null   float64
 3   Log GDP per capita                1913 non-null   float64
 4   Social support                    1936 non-null   float64
 5   Healthy life expectancy at birth  1894 non-null   float64
 6   Freedom to make life choices      1917 non-null   float64
 7   Generosity                        1860 non-null   float64
 8   Perceptions of corruption         1839 non-null   float64
 9   Positive affect                   1927 non-null   float64
 10  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 167.6+ KB

In [58]:
df.isnull().sum()

Country name                          0
year                                  0
Life Ladder                           0
Log GDP per capita                   36
Social support                       13
Healthy life expectancy at birth     55
Freedom to make life choices         32
Generosity                           89
Perceptions of corruption           110
Positive affect                      22
Negative affect                      16
dtype: int64

In [59]:
df.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [60]:
df.rename({'Country name': 'Country', 'Log GDP per capita': 'GDP', 'Healthy life expectancy at birth': 'Life expectancy', 
          'Freedom to make life choices': 'Freedom', 'Perceptions of corruption': 'corruption'}, axis=1, inplace=True)
df.head()

,Country,year,Life Ladder,GDP,Social support,Life expectancy,Freedom,Generosity,corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [61]:
 df.drop(columns=['Positive affect', 'Negative affect'], axis=1, inplace=True)

In [66]:
df.shape

(1949, 9)

In [65]:
df.isnull().sum()

Country              0
year                 0
Life Ladder          0
GDP                 36
Social support      13
Life expectancy     55
Freedom             32
Generosity          89
corruption         110
dtype: int64

In [68]:
df.tail()

,Country,year,Life Ladder,GDP,Social support,Life expectancy,Freedom,Generosity,corruption
1944,Zimbabwe,2016,3.735,7.984,0.768,54.4,0.733,-0.095,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.0,0.753,-0.098,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.6,0.763,-0.068,0.844
1947,Zimbabwe,2019,2.694,7.950,0.759,56.2,0.632,-0.064,0.831
1948,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789