In [103]:
# dependecies and set up
import pandas as pd

file = "Resources/world-happiness-report.csv"
df = pd.read_csv(file)
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [104]:
df.shape

(1949, 11)

In [105]:
df.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [106]:
type(df)

pandas.core.frame.DataFrame

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1949 non-null   object
 1   year                              1949 non-null   int64
 2   Life Ladder                       1949 non-null   float64
 3   Log GDP per capita                1913 non-null   float64
 4   Social support                    1936 non-null   float64
 5   Healthy life expectancy at birth  1894 non-null   float64
 6   Freedom to make life choices      1917 non-null   float64
 7   Generosity                        1860 non-null   float64
 8   Perceptions of corruption         1839 non-null   float64
 9   Positive affect                   1927 non-null   float64
 10  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 167.6+ KB

In [108]:
df.isnull().sum()

Country name                          0
year                                  0
Life Ladder                           0
Log GDP per capita                   36
Social support                       13
Healthy life expectancy at birth     55
Freedom to make life choices         32
Generosity                           89
Perceptions of corruption           110
Positive affect                      22
Negative affect                      16
dtype: int64

In [109]:
df.rename({'Country name': 'Country', 'Life Ladder':'Ladder score', 'Log GDP per capita': 'GDP', 'Healthy life expectancy at birth': 'Life expectancy', 
          'Freedom to make life choices': 'Freedom', 'Perceptions of corruption': 'corruption'}, axis=1, inplace=True)
df.head()

,Country,year,Ladder score,GDP,Social support,Life expectancy,Freedom,Generosity,corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [110]:
 df.drop(columns=['Positive affect', 'Negative affect'], axis=1, inplace=True)

In [111]:
print(df.shape)
print(df.columns)

(1949, 9)
Index(['Country', 'year', 'Ladder score', 'GDP', 'Social support',
       'Life expectancy', 'Freedom', 'Generosity', 'corruption'],
      dtype='object')

In [112]:
for col in df.columns:
    print(col, df[col].nunique(), len(df))

Country 166 1949
year 16 1949
Ladder score 1553 1949
GDP 1500 1949
Social support 455 1949
Life expectancy 828 1949
Freedom 535 1949
Generosity 609 1949
corruption 572 1949

In [113]:
for var in df.columns:
    if df[var].isnull().sum()/len(df) > 0:
        print(var, df[var].isnull().mean().round(3))

GDP 0.018
Social support 0.007
Life expectancy 0.028
Freedom 0.016
Generosity 0.046
corruption 0.056

In [114]:
df.isnull().sum()

Country              0
year                 0
Ladder score         0
GDP                 36
Social support      13
Life expectancy     55
Freedom             32
Generosity          89
corruption         110
dtype: int64

In [115]:
df.tail()

,Country,year,Ladder score,GDP,Social support,Life expectancy,Freedom,Generosity,corruption
1944,Zimbabwe,2016,3.735,7.984,0.768,54.4,0.733,-0.095,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.0,0.753,-0.098,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.6,0.763,-0.068,0.844
1947,Zimbabwe,2019,2.694,7.950,0.759,56.2,0.632,-0.064,0.831
1948,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789

In [119]:
data.isnull().sum()

year                0
Ladder score        0
GDP                19
Social support      0
Life expectancy    12
Freedom             3
Generosity         20
corruption         22
dtype: int64

In [120]:
for var in data.columns:
    if data[var].isnull().sum()/len(data) > 0:
        print(var, data[var].isnull().mean().round(3))

GDP 0.023
Life expectancy 0.014
Freedom 0.004
Generosity 0.024
corruption 0.027

### --------------------------------------------------------------------------------------------------------------------------------------------------------

In [128]:
df1 = pd.read_csv("Resources/world-happiness-report-2021.csv")
df1.head()

,Country name,Regional indicator,year,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,...,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,2021,7.842,0.032,7.904,7.780,10.775,0.954,72.0,...,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,2021,7.620,0.035,7.687,7.552,10.933,0.954,72.7,...,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,2021,7.571,0.036,7.643,7.500,11.117,0.942,74.4,...,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,2021,7.554,0.059,7.670,7.438,10.878,0.983,73.0,...,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,2021,7.464,0.027,7.518,7.410,10.932,0.942,72.4,...,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [129]:
df1.isnull().sum().head()

Country name                      0
Regional indicator                0
year                              0
Ladder score                      0
Standard error of ladder score    0
dtype: int64

In [130]:
df1.shape

(149, 21)

In [131]:
df1.drop(columns=['upperwhisker','Regional indicator', 'lowerwhisker','Explained by: Log GDP per capita', 'Explained by: Social support',
                  'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 
                  'Explained by: Freedom to make life choices', 'Explained by: Freedom to make life choices',
                  'Standard error of ladder score',
                  'Explained by: Generosity', 'Explained by: Generosity', 'Explained by: Perceptions of corruption',
                  'Dystopia + residual', 'Ladder score in Dystopia'], axis=1, inplace=True)

In [133]:
df1.head()

,Country name,year,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,2021,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,2021,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,2021,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,2021,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,2021,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [134]:
df1.rename({'Country name': 'Country', 'Logged GDP per capita': 'GDP', 'Healthy life expectancy': 'Life expectancy', 
          'Freedom to make life choices': 'Freedom', 'Perceptions of corruption': 'corruption'}, axis=1, inplace=True)
df1.head()

,Country,year,Ladder score,GDP,Social support,Life expectancy,Freedom,Generosity,corruption
0,Finland,2021,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,2021,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,2021,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,2021,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,2021,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [166]:
frames = [df, df1]
df2 = pd.concat(frames)
data = df2.set_index('Country')
data.head()

,year,Ladder score,GDP,Social support,Life expectancy,Freedom,Generosity,corruption
Country,,,,,,,,
Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882
Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850
Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707
Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776

In [213]:
#filter the table using only the country at interest 

df3 = data.loc[['Italy', 'Japan', 'Australia', 'New Zealand', 'India', 'Peru', 'Finland', 'South Africa', 'United States']]
df3.head()

,year,Ladder score,GDP,Social support,Life expectancy,Freedom,Generosity,corruption
Country,,,,,,,,
Italy,2005,6.854,10.703,0.928,71.90,0.802,NaN,0.944
Italy,2007,6.574,10.727,0.912,72.26,0.684,0.113,0.922
Italy,2008,6.780,10.711,0.880,72.44,0.543,0.049,0.946
Italy,2009,6.334,10.652,0.880,72.62,0.701,0.240,0.890
Italy,2010,6.354,10.666,0.872,72.80,0.738,-0.060,0.921

In [214]:
df3.shape

(139, 8)

In [229]:
df3.loc[(df3['year']>=2018)].head()

,year,Ladder score,GDP,Social support,Life expectancy,Freedom,Generosity,corruption
Country,,,,,,,,
Italy,2018,6.517,10.650,0.913,73.6,0.650,-0.021,0.888
Italy,2019,6.445,10.655,0.838,73.8,0.709,-0.082,0.866
Italy,2020,6.488,10.563,0.890,74.0,0.718,-0.150,0.844
Italy,2021,6.483,10.623,0.880,73.8,0.693,-0.084,0.866
Japan,2018,5.794,10.623,0.886,75.0,0.773,-0.261,0.687

In [230]:
df3.shape

(139, 8)

In [231]:
#checking which columns has null value after combining the two datasets and filtering the tables using  

df3.isnull().sum()

year               0
Ladder score       0
GDP                0
Social support     1
Life expectancy    0
Freedom            0
Generosity         6
corruption         1
dtype: int64

In [218]:
corr_df = df3[['Ladder score','GDP', 'Social support', 'Life expectancy', 'Freedom', 'Generosity', 'corruption']]
corr_df.corr().style.background_gradient(cmap='gray')

In [221]:
X = df3[['GDP', 'Social support', 'Life expectancy', 'Freedom', 'Generosity', 'corruption']]
y = df3['Ladder score']

In [225]:
cnt = df3.reset_index().groupby(['Country']).count()
cnt

,year,Ladder score,GDP,Social support,Life expectancy,Freedom,Generosity,corruption
Country,,,,,,,,
Australia,15,15,15,15,15,15,14,15
Finland,14,14,14,14,14,14,14,14
India,16,16,16,16,16,16,15,16
Italy,16,16,16,16,16,16,15,16
Japan,16,16,16,16,16,16,14,16
New Zealand,15,15,15,15,15,15,15,15
Peru,15,15,15,15,15,15,15,15
South Africa,16,16,16,16,16,16,16,15
United States,16,16,16,15,16,16,15,16

In [223]:
from sklearn import linear_model

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(corr_df[['Victim_count']],corr_df.Year, test_size=.20)

In [204]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').